@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 229, 205);
}
meal-list {
    margin-top: 32px;
    display: block;
    width: 100%;
    padding: 40px;
    margin: 0% auto;
    background-color: white;
    overflow: auto;
}

meal-list h1{
    color: tomato;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
jumbotron-page{
    font-family:  'Mukta', sans-serif;
}   
footer{
    width: 100%;
    text-align: center;
    background-color: #fa8100;
    padding: 25px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
 
